body {
  font-family: Arial, sans-serif;
  background-color: #f8f9fa;
}

/* NAVBAR */
.navbar-brand {
  font-weight: bold;
}

/* HEADINGS */
h1, h2 {
  text-align: center;
  margin-top: 20px;
}

/* HERO */
.hero-img {
  width: 100%;
  height: 350px;
  object-fit: cover;
  border-radius: 10px;
}

/* CARDS */
.card {
  margin-top: 20px;
  transition: 0.3s;
}
.card:hover {
  transform: scale(1.05);
}
.card img {
  height: 200px;
  object-fit: cover;
}

/* GALLERY */
.gallery-img {
  width: 100%;
  height: 220px;
  object-fit: cover;
  border-radius: 10px;
  transition: 0.3s;
}

.gallery-img:hover {
  transform: scale(1.05);
}

/* FORM */
form input, form textarea {
  margin-bottom: 10px;
}

/* FOOTER */
footer {
  margin-top: 30px;
}

/* SECTIONS */
section {
  margin-top: 40px;
}